body {
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
  font-family: 'Scope One', serif;
}

h2 {
  font-family: 'Lora', serif;
}

h3 {
  margin-bottom: 10px;
  text-align: center;
}

a {
  color: #E505F7;
  text-decoration: none;
}

a:hover {
  color: #F2CCF5;
}

/* Global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

.button_1 {
  height: 38px;
  background: #E505F7;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

.button_1:hover {
  background-color: #F2CCF5;
}

.light {
  color: #fff;
}

.dark {
  padding: 15px;
  background: #003399;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.note {
  color: #FF0000;
}

/* Header */
header {
  background: #66CCFF;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #3DA5D9 1px solid;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
  list-style-type: none;
}

header #branding {
  float: left;
}

header #branding h2 {
  margin: 0;

}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a {
  color: #003399;
}

header a:hover {
  color: #003399;

}

header .current a:hover {
  color: #0099CC;
}

/* Showcase */
#showcase {
  min-height: 450px;
  background: url('../img/showcase.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  color: #fff;
}

#showcase h2 {
  margin-top: 150px;
  font-size: 55px;
  margin-bottom: -20px;
}

#showcase p {
  font-size: 20px;
  width: 40%;
  color: #000;
  margin-left: 35px;
}

/* Domain Search */
#domain {
  padding: 15px;
  color: #fff;
  background: #003399;
}

#domain h2 {
  float: left;
}

#domain form {
  float: right;

  margin-top: 15px;
}

#domain input[type="text"] {
  padding: 4px;
  height: 25px;
  width: 250px;
}

/* Boxes */
#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
  margin-left: 20px;
  background: #E9F2F3;
  border: 1px solid #05DEF7;
  border-radius: 1em;
  height: 300px;
}

#boxes .box a {
  color: #E505F7;
  text-decoration: none;
}

#boxes .box a:hover {
  color: #F2CCF5;
}

#boxes .box p, #boxes .box ol li {
  text-align: left;
}

#boxes .box img {
  width: 90px;
}

/* Thank you page */
#thankyou {
  float: left;
  color: #000;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-bottom: 29%;
}

/* Video */
main figure {
  width: 100%;
  margin: 0 auto 0 auto;
  text-align: center;
}

/* Contact Form */

.contact {
  margin: 20px;
}

#contactform {
  margin: 20px;
}

.contact input[type=text], .contact input[type=email] {
  padding: 12px 20px;
  margin: 15px 0;
  background-color: #f7f7fa;
  color: #223958;
  border: 2px solid #ccc;
}

.contact input[type=radio] {
  margin-bottom: 20px;
  padding-left: 20px;
}

textarea {
  width: 50%;
  height: 100px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background-color: #f8f8f8;
  resize: none;
}

.contact input[type=submit], .contact input[type=reset] {
  background-color: #E505F7;
  color: #fff;
  width: 10%;
  border: 1px solid #F2CCF5;
  height: 50px;
  text-decoration: none;
  cursor: pointer;
}

.contact input[type=submit]:hover, .contact input[type=reset]:hover {
  background-color: #F2CCF5;
  color: #000;
}

/* End Contact Form */

#main-col p.dark {
  padding: 20px;
}

/* Sidebar */
aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}

aside#sidebar ul li {
  margin-left: 20px;
  font-size: .9em;
}

aside#sidebar .quote input, aside#sidebar .quote textarea {
  width: 90%;
  padding: 5px;
}

/* Main-col */
article#main-col {
  float: left;
  width: 65%;
}

/* Services */
ul#services li {
  list-style: none;
  padding: 20px;
  border: #05DEF7 solid 1px;
  margin-bottom: 10px;
  background: #E9F2F3;
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #66CCFF;
  text-align: center;
  clear: both;
}

footer a {
  text-decoration: none;
  color: #E505F7;
}

footer a:hover {
  color: #F2CCF5;
}

/* Media Queries */
@media(max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  #domain h2,
  #domain form,
  #boxes .box,
  article#main-col,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }

  header nav ul {
    width: 100%;
  }

  header a {
    display: block;
    width: 100%;
  }

  main figure {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
  }

  main figure iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #showcase {
    background: #0099CC;
  }

  #showcase p {
    width: 100%;
    margin-top: 50px;
    margin-left: 10px;
    color: #ffffff;
  }

  #showcase h2 {
    margin-top: 40px;
    color: #003399;
  }

  #domain button, .quote button {
    display: block;
    width: 100%;
  }

  #domain form input[type="text"], .quote input, .quote textarea {
    width: 100%;
    margin-bottom: 5px;
  }

  #boxes .box {
    float: left;
    text-align: center;
    width: 80%;
    height: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }

  textarea {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    resize: none;
  }

  .contact input[type=submit], .contact input[type=reset] {
    background-color: #E505F7;
    color: #fff;
    width: 100%;
    border: 1px solid #F2CCF5;
    height: 50px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
  }

}
